.navigationBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: var(--surface);
    max-height: 9rem;
}

.logo {
    height: 7rem;
    scale: 1.2;
    transition: 150ms ease-in-out;
}
.logo:hover {
    scale: 1.4;
}

.navigationButton {
    border: none;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 1.2rem;
    transition: 150ms ease-in-out;
}


.navigationButton:hover {
    background-color: rgba(196, 47, 21, 0.5);
    cursor: pointer;
}

.active {
    background-color: var(--nav-selected);
}