.container {
    min-height: 30rem;
}

.searchSection {
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.searchBar {
    width: 60rem;
    padding: 12px 20px;

    background-color: var(--surface);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;

    color: var(--text-main);
    font-size: 16px;

    transition: all 0.3s ease;

}

.searchBar::placeholder {
    color: var(--subtitle);
    opacity: 0.8;
}

.searchBar:focus {
    outline: none;
    border-color: var(--accent-primary);
    box-shadow: 0 3px 10px var(--accent-primary);
}

.error {
    color: var(--accent-primary)
}