@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ruslan+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ruslan+Display&display=swap');
@import "variables.css";


html, body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    border: 0;
    color: var(--text-main);
    font-family: 'Roboto', serifs, serif;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: inherit;
    outline: none;
}
html, body {
    height: 100%;
    margin: 0;
}

footer {
    margin-top: auto;
}

main {
    padding: 3rem 0;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.container {
    background-color: var(--bg-main);
    width: 100%;
}
body {
    background-color: var(--bg-main);
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--surface);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--accent-primary);
    border-radius: 10px;
}

.arrow {
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.3);
}

.arrow:hover {
    color: var(--accent-primary);
}


/*items de films*/
.filmsList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.film {
    margin: 1rem;
    transition: ease-in 0.2s;

    padding-bottom: 1rem;
    border-style: solid;
    border-width: 0;
    background: linear-gradient(180deg, var(--bg-main) 50%, var(--accent-primary) 75%, var(--bg-main));
    border-radius: 15px;
    text-decoration: none;
    display: block;
    position: relative;
}

.film:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

.filmTitle {
    text-align: center;
}

.filmYear {
    text-align: center;
    margin-top: 0.4rem;
}

.filmPoster {
    height: 20rem;
    max-width: 14rem;
    object-fit: cover;
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    overflow: hidden;
    border-color: var(--accent-primary);
}

