:root {
    --bg-main: #111111;
    --surface: #181818;

    --heading: #f5f5f5;
    --text-main: #ffffff;
    --subtitle: #b3b3b3;

    --accent-primary: #e50914;
    --accent-secondary: #b31217;

    --btn: #ff2b3b;
    --nav-selected: rgba(229, 9, 20, 0.3);
    --light-red: #ff6b6b;
}

[data-theme="light"] {
    --bg-main: #f5f5f5;
    --surface: #ffffff;

    --heading: #111111;
    --text-main: #222222;
    --subtitle: #666666;

    --accent-primary: #e50914;
    --accent-secondary: #b31217;

    --btn: #d81824;
    --nav-selected: rgba(229, 9, 20, 0.12);
    --light-red: #e45a5a;
}
